.resume_section {
    width: 75%;
    list-style-type: none;
    margin: 10vh 10vw;
    padding: 3vh 3vw;

}

h1 {
    font-family: 'Lato', serif;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    margin-top: 3em;
    float: none;
    position: relative;
    
}

h3 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-right: auto;
    margin-left: 40px;
    font-weight: 700;
    position: sticky;

}

h2 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    margin-left: 40px;
    font-weight: 700;
}


ul {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    font-weight: 200;

}

h4 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #425BB5;
    margin-left: 40px;
    font-weight: 700;
    font-size: 30px;
}

h5 {
    font-family: 'Shrikhand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    color: #627fe7;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 30px;
    width:50%;
}

strong {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;

}

h4:before {
    position: absolute;
    width: 30px;
    left: -40px;
    content: "";
    display: block;
    height: 2px;
    background: #425BB5;
    top: 9px;
}

/* index page
==================================================*/

.frontpage_image {
    width: 90vw;
    height: 90vh;
    background-image: url(../media/max-bender-8FdEwlxP3oU-unsplash.jpg);
    background-size: cover;
}















/* General
==================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.size-50 {
    font-size: 50px;
    line-height: 50px
}

.h-50 {
    height: 50px;
}


/* Header
==================================================*/

header {
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

p {
    display: block;
    padding:3vh;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    text-align: left;
    margin-top: 0;
    color:rgb(0, 0, 0)
    
}

em {
    display: block;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

br {
    display: block;
    padding: 10px 20px;
    position: relative;
}

#main-navbar {
    float: none;
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10vh;
    
}

nav ul {
    
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 0px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

nav li {
    
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #425BB5;
    font-size: 11px;
    position: sticky;
    padding: 3vh;
    font-weight:900;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #425BB5;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;


}

video {
    display: block;
    margin: 0 auto;
}

div {
    display: block;
    padding: 10px 20px;
    margin-left: 40px;  
    position: relative;
}

/* Page 2
/*=========================================*/

.mainrabbit_section {
    width: 75%;
    list-style-type: none;
    margin: 10vh;
    padding: 3vh;
    margin-left: auto;
    margin-right: auto;

}

.Rabbit_links_section {
    position:relative;
    width: 75%;
    text-align: left;
    list-style-type: none;
    margin: 20vh;
    padding: 3vh;

}

/* Page 3 Table
/*=========================================*/
th, td {
    border: 2px solid;
    vertical-align: center;
    padding: 20px;
    text-align: center;
    font-size: 20px
  }

th {
    font-family: shrikhand;
    letter-spacing: 2px;;
  }

#triathlon_distances {
    position: relative;
    margin-left: 20px;
    margin-right: auto;
    padding: 20vh;
  }
  
table {
    border-collapse: collapse;
    border: 10px solid rgb(87, 0, 128);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  li {
    margin-bottom: 10px;
  }

  .Triathlon_links_section {
    position:relative;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;


}

.maintri_section {
    width: 75%;
    list-style-type: none;
    margin: 10vh;
    padding: 3vh;
    margin-left: auto;
    margin-right: auto;

}
/* style for map*/
#border {
    width: 850px;
    height: 600px;
    background-color: #2CD344;
    margin: 0 auto;
    overflow: hidden;
  }
  #frame {
    width: 700px;
    height: 500px;
    background-color: #ccc;
    margin: 30px auto;
  }